<nav role="navigation">
  <ul>
    <!-- This is an A11y Change -->
    <li><a routerLink="/" title="Homepage">Home</a></li>
    <!-- This is an A11y Change -->
    <li>
      <a routerLink="/about" title="About page" aria-label="Head to About Page"
        >About</a
      >
    </li>
    <li>
      <a routerLink="/login" title="Login page" aria-label="Head to Login Page"
        >Login</a
      >
    </li>
    <li>
      <a
        routerLink="/contact"
        title="Contact page"
        aria-label="Head to Contact Page"
        >Contact</a
      >
    </li>
  </ul>
</nav>
